<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="member">
        <%= image_tag "user.jpg", class: "avatar-bordered flex-item" %>

        <p class="flex-item">Member since <%= current_user.created_at.strftime("%Y") %></p>
      </div>

      <div class="card-account favourite carousel slide" id="simple-carousel" data-ride="carousel">
        <h3>Favourite nonprofits</h3>
        <% @favorites.each do |favorite| %>
          <%= link_to nonprofit_path(favorite.nonprofit) do %>
            <div class="carousel-item active d-block w-100">
              <%= carus_image(favorite.nonprofit.logo) %>
            </div>
            <div class="card-product-infos">
              <h5><strong><%= favorite.nonprofit.name %></strong></h5>
              <h6><%= favorite.nonprofit.city %></h6>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 card-account upcoming">
      <h3>Upcoming donations</h3>
      <div class="upcoming-scroll">
        <ul class="account-li">
          <%  @order_donations .each do |donation| %>
            <% if donation.date >= Date.today %>
              <li class="org-name"><%= donation.nonprofit.name %></li>
              <li class="upcoming-description"><%= donation.nonprofit.address %></li>
                <% if donation.goods_category.present? %>
                  <li class="upcoming-description">You will donate <strong><%= donation.goods_category.name %></strong> goods</li>
                <% end %>
                <% if donation.time_category.present? %>
                  <li class="upcoming-description">You will meet to discuss your volunteering program: <strong><%= donation.time_category.name %></strong></li>
                <% end %>
              <li class="date-time"><%= donation.date.to_formatted_s(:short) %></li>
            <% end %>
              <br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
