<%# navbar %>

<div class="banner">
  <%# Font: Poppins - Size:22 - ExtraLight - Lign Height%>
  <%# <p class="carus-meaning">carus (adj.)
  <br>&emsp;:latin
  <br>&emsp;: dear, beloved, precious</p> %>

  <%= image_tag('baloons.svg', class:'banner-baloons') %>

  <h1 class="h1-homepage">Connecting people<br>with nonprofit organizations</h1>

  <%# Font: Lora - Size:32 - Bold %>
  <h3 class="h3-homepage">How would you like to help?</h3>

  <%# Font: Poppins - Size: 20 - SemiBold - Letter spacing: 13% %>
  <%= link_to "VOLUNTEER", volunteer_nonprofits_path, class:'btn btn-big' %>
  <%= link_to "DONATE GOODS", goods_nonprofits_path, class:'btn btn-big' %>
</div>

<h2 class="h2-homepage my-5">How does it work?</h2>

<%# Font: Poppins - Size: 22 - Light %>
<%# need to include the numbers %>
<div class="container">
  <div class="row my-5">
    <div class="col-4 text-center">
      <%= image_tag('c1.svg', class: 'img-fluids', height: 200) %>

      <div class="container number mt-4">
        <p class="landing-card-text">1</p>
      </div>

      <p class="landing-card-text">Choose how to help</p>
    </div>

    <div class="col-4 text-center">
      <%= image_tag('c3.svg', class: 'img-fluids', height: 200) %>

      <div class="container number mt-4">
        <p class="landing-card-text">2</p>
      </div>
      <p class="landing-card-text">Pick a nonprofit</p>
    </div>

    <div class="col-4 text-center">
      <%= image_tag('c2.svg', class: 'img-fluids', height: 200) %>

      <div class="container number mt-4">
        <p class="landing-card-text">3</p>
      </div>
      <p class="landing-card-text">Donate or volunteer</p>
    </div>



  </div>
</div>
<%# Footer %>
    <div class=" d-flex justify-content-around " style="margin-top: 60p; background-color: rgba(98, 196, 183, 0.2); padding: 20px;">
      <div class="col-4 carus-definition ps-3" >
      <div class="d-flex justify-content-space">
        <h3 class ="icon-text">ca</h3>
          <div class='icon-text'style ="margin: 6px 4px;">&bull;</div>
          <h3 class ="icon-text">rus</h3>
      </div>
      <p class="carus-meaning"> (adj.)
  <br>&emsp;:latin
  <br>&emsp;: dear, beloved, precious</p>

        <p class="title-form ">We are a connection point for people and reliable nonprofit organizations that support the people in need. Our mission is to ease the process of helping and making a difference through the facilitation of charity.</p>
      </div>

      <div class="col-4 contact-form pe-7">
        <h4>Contact us! <i class="fa-solid fa-envelope fa-fade fa-rotate-by "style="--fa-rotate-angle: -35deg; margin-top: 20px"></i></h4>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class=" title-form">Your name</label>
          <input type="email" class="form-control fill" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="title-form">Your email</label>
          <input type="email" class="form-control fill" id="exampleFormControlInput1" >
        </div>
        <div class="d-grid">
          <button class="btn btn-sml" style="width: 40%" type="submit">Reach out</button>
        </div>
      </div>
    </div>
