<div class="container">
  <div class="row mt-5 justify-content-around">
    <div class="col-12 col-lg-5">
      <div class="member">
        <%= image_tag "user.jpg", class: "avatar-bordered flex-item" %>
        <br>
        <p class="flex-item">Member since <%= current_user.created_at.strftime("%Y") %></p>
      </div>

      <div class="card-account favorite">
        <h3 style="padding-top:40px">Favourites</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false"
          style="width:100%; display:flex">
          <div class="carousel-inner" id="carousel-inner-profile">

            <div class="carousel-item active" id="carousel-item-profile">
              <% if @favorites.present? %>
                <%= carus_image(@favorites.first.nonprofit.logo, { class: "d-block w-100" }) %>
                <div class="carousel-caption d-none d-md-block" id="carousel-caption-profile">
                  <h5 style="margin:0;"><%= link_to @favorites.first.nonprofit.name,
                    nonprofit_path(@favorites.first.nonprofit), class: 'favorite-link-color' %>
                  </h5>
                  <p style="margin:0"><%= @favorites.first.nonprofit.city %></p>
                </div>
              <% else %>
                <p class="no-info no-info-favorite">You don't have any favorite nonprofit yet</p>
              <% end %>
            </div>

            <% @favorites.drop(1).each do |favorite| %>
              <div class="carousel-item" id="carousel-item-profile">
                <%= carus_image(favorite.nonprofit.logo, class: "d-block w-100") %>
                <div class="carousel-caption d-none d-md-block" id="carousel-caption-profile">
                  <h5 style="margin:0">
                  <%= link_to favorite.nonprofit.name,
                    nonprofit_path(favorite.nonprofit), class: 'favorite-link-color' %>
                  </h5>
                  <p style="margin:0"><%= favorite.nonprofit.city %></p>
                </div>
              </div>
            <% end %>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5">
      <div class="card-account upcoming">
        <h3>Upcoming donations</h3>
        <div class="upcoming-scroll">
          <ul class="account-li">
            <% if @upcoming_donations.present? %>
              <%  @upcoming_donations.each do |donation| %>
                <li class="org-name">
                  <%= link_to donation_path(donation), data: { turbo_method: :delete } do %>
                    <i class="fa-regular fa-circle-xmark" style="color: black"></i>
                  <% end %>

                <%= donation.nonprofit.name %></li>
                <li class="upcoming-description"><%= donation.nonprofit.address %></li>
                  <% if donation.goods_category.present? %>
                    <li class="upcoming-description">You will donate <strong><%= donation.goods_category.name %></strong> goods</li>
                  <% end %>
                  <% if donation.time_category.present? %>
                    <li class="upcoming-description">You will meet to discuss your volunteering program: <strong><%= donation.time_category.name %></strong></li>
                  <% end %>
                <li class="date-time"><%= donation.date.to_formatted_s(:short) %></li>
                <br>
              <% end %>
            <% else %>
              <p class="no-info no-info-upcoming">You don't have any upcoming donations at the moment</p>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class=" col-12 col-lg-11 mt-5 mb-5">
      <div class="card-account previous">
        <h3>Previous donations</h3>
        <div class="previous-scroll">
          <ul class="account-li previous-description">
            <% if @past_donations.present? %>
              <% @past_donations.each do |donation| %>
                <li style="margin-bottom: 20px">You helped <u><%= donation.nonprofit.name %></u> with
                    <% if donation.goods_category.present? %>
                      <u><%= donation.goods_category.name %></u> goods
                    <% end %>
                    <% if donation.time_category.present? %>
                      volunteering work (<u><%= donation.time_category.name %></u>)
                    <% end %>
                    on <%= donation.date.to_formatted_s(:short) %>.
                  </li>
              <% end %>
            <% else %>
              <p class="no-info no-info-previous">
                You don't have any past donations yet.
                <br>Go ahead and book a
                <%= link_to "donation", goods_nonprofits_path, class: 'no-info-previous-action' %>
                or a meeting for
                <%= link_to "volunteering", volunteer_nonprofits_path, class: 'no-info-previous-action' %>!
              </p>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
