
<h1 class="text-center my-5" style="color: #0278AE; letter-spacing: 5px; line-height: 1.5em;">Book a meetup timeslot with<br><strong><%= @nonprofit.name %></strong></h1>


<%= simple_form_for [@nonprofit, @donation] do |f| %>
    <div class="d-flex justify-content-around pt-5">
      <div>
        <%= f.input :date, as: :date, html5: true %>
      </div>

      <div>
        <%= f.input :time, as: :radio_buttons,
          collection: (@nonprofit.min_time..@nonprofit.max_time).map { |time| ['%0.2d:00' % time, time] }  %>
      </div>

      <div>
        <%= f.association :goods_category, collection: @nonprofit.goods_categories %>
      </div>

      <div>
        <%= f.association :time_category, collection: @nonprofit.time_categories %>
      </div>
    </div>

    <div class="text-center">
      <%= f.submit "CONFIRM", class: "btn btn-big" %>
    </div>
<% end %>
