<div class="map-search-box">
  <div class="logo-details d-flex" style="margin-top: 5px">
    <div class="logo-map">
      <%= carus_image(nonprofit.logo) %>
    </div>
    <h4><%= link_to nonprofit.name, nonprofit_path(nonprofit) %></h4>
  </div>

    <div style="margin-top: 20px">
      <p><%= nonprofit.address %></p>
      <p><%= nonprofit.email %></p>
      <p><%= nonprofit.phone %></p>
      <p><%= nonprofit.brief_description %></p>
    </div>

  <div class="btn-map">
    <a href="<%= new_nonprofit_donation_path(nonprofit) %>" class="btn btn-sml">Donate</a>
  </div>
</div>
