<div class=container>

<br>

  <div class="row">
    <div>
      <div class="col-sm-6">
        <div class="logo">
          <%= carus_image(@nonprofit.logo) %>
        </div>

<br>

        <div>
          <h3><%= @nonprofit.name %></h3>
          <h5><%= @nonprofit.city %></h5>
          <p><%= @nonprofit.email %></p>
          <p><%= @nonprofit.phone %></p>
          <p><%= @nonprofit.full_description %></p>
          <p><%= @nonprofit.address %></p>
        </div>
      </div>

      <p><strong>Accepts:</strong></p>
      <% if @nonprofit.goods_categories.present? %>
        <% @goods_categories.each do |goods_category| %>
              <li>
                <%= goods_category.name%>
              </li>
            <% end %>
      <% end %>

      <% if @nonprofit.time_categories.present? %>
        <% @time_categories.each do |time_category| %>
                <li>
                  <%= time_category.name%>
                </li>
              <% end %>
      <% end %>

    <br>

      <div>
        <%= link_to 'Donate', new_nonprofit_donation_path(@nonprofit), class: "btn btn-big" %>
      </div>

    </div>


  </div>
</div>
