<div class="container d-flex" style="background-color: #d5f7ee80; border-radius: 8px; padding: 10px; border: none; align-items: center; width: 1057px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">

  <div class="cards col-sm-6" style="width: 36rem; padding: 50px; border: none; align-items: justify">
    <div>
      <div class="logo" style="margin-bottom: 10px;">
        <%= carus_image(@nonprofit.logo) %>
      </div>

      <div>
        <div class="heading-show" style="margin-bottom: 25px; margin-top: 25px;">
          <h3><strong><%= @nonprofit.name %></strong></h3>
          <h5><%= @nonprofit.city %></h5>
        </div>
        <div class="details-show" style="margin-bottom: 25px;">
          <p><%= @nonprofit.email %></p>
          <p><%= @nonprofit.phone %></p>
          <p><%= @nonprofit.address %></p>
        </div>
        <div class="description">
          <p><em><%= @nonprofit.full_description %></em></p>
        </div>

      </div>
    </div>

    <div class="card" style="width: 30rem; background-color: #FAFCFD; border-radius: 7px; padding: 10px; border: none; margin-top: 30px; margin-bottom: 15px;">
      <p>Accepts <strong>GOODS</strong> of the following types:</strong></p>
      <ul>
        <% if @nonprofit.goods_categories.present? %>
          <% @goods_categories.each do |goods_category| %>
            <% if goods_category.name != 'Multiple categories' %>
              <li>
                <%= goods_category.name%>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="card" style="width: 30rem; background-color: #FAFCFD; border-radius: 7px; padding: 10px; border: none; margin-bottom: 15px;">
      <p>Accepts <strong>VOLUNTEERS</strong> for the following areas:</p>
      <ul>
        <% if @nonprofit.time_categories.present? %>
          <% @time_categories.each do |time_category| %>
            <% if time_category.name != 'Multiple categories' %>
              <li>
                <%= time_category.name%>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>


    <div style="margin-top: 30px">
      <%= link_to 'Donate', new_nonprofit_donation_path(@nonprofit), class: "btn btn-big"%>
    </div>
  </div>



  <div class="col-sm-6" style="width: 30rem; border: none; margin-bottom: 125px">
    <div class="heart-icon">
      <%= link_to favorites_path(nonprofit_id: @nonprofit.id), data: { turbo_method: :post } do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    </div>

    <div>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="border-radius: 8px;">
        <ol class="carousel-indicators">
          <% @nonprofit.photos.each_with_index do |photo, index|%>
            <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></button>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @nonprofit.photos.each_with_index do |photo, index|%>
            <div class="carousel-item <%= "active" if index == 0 %>">
              <%= carus_image(photo) %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-slide="prev"  data-bs-target="#carouselExampleIndicators">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-slide="next"   data-bs-target="#carouselExampleIndicators">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>


      <div id="map" class="no-search" style="width: 400px; height: 300px; margin-top: 20px; border-radius: 8px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>


  </div>
</div>
