<div class=container>

<br>

  <div class="row">
    <div>
      <div class="col-sm-6">
        <div class="logo">
          <%= carus_image(@nonprofit.logo) %>
        </div>

<br>

        <div>
          <h3><%= @nonprofit.name %></h3>
          <h5><%= @nonprofit.city %></h5>
          <p><%= @nonprofit.email %></p>
          <p><%= @nonprofit.phone %></p>
          <p><%= @nonprofit.full_description %></p>
          <p><%= @nonprofit.address %></p>
        </div>
      </div>


      <% if @nonprofit.goods_categories.present? %>
        <p><strong>Accepts goods from the following categories:</strong></p>
        <% @goods_categories.each do |goods_category| %>
          <% if goods_category.name != 'Multiple categories' %>
            <li>
              <%= goods_category.name%>
            </li>
          <% end %>
        <% end %>
      <% end %>
      <br>

      <% if @nonprofit.time_categories.present? %>
        <p><strong>Has volunteering programs in the following areas:</strong></p>
        <% @time_categories.each do |time_category| %>
          <% if time_category.name != 'Multiple categories' %>
            <li>
              <%= time_category.name%>
            </li>
          <% end %>
        <% end %>
      <% end %>

    <br>
    <div>
      <%= link_to 'Donate', new_nonprofit_donation_path(@nonprofit), class: "btn btn-big" %>
    </div>

<br>



  </div>
</div>
