<!DOCTYPE html>
<html>
  <head>
    <title>Carus-Connecting people to charities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=favicon_link_tag%>
    <meta name="description" content="Connecting people to charities.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Carus"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.carus-charity.org/"/>
    <meta property="og:image" content="https://res.cloudinary.com/dqhpwjdfd/image/upload/v1662648134/Carus/preview2_me57wd.png"/>
    <meta property="og:description" content="Carus-connecting people to charities"/>
    <meta property="og:site_name" content="Carus"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar_signin" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <% if controller_name == "donations" && action_name == 'confirmation' %>
      <div class="page-content">
        <%= yield %>
      </div>
    <% elsif controller_name == "nonprofits" && action_name == 'goods' %>
      <div class="index-content">
        <%= yield %>
      </div>
    <% elsif controller_name == "nonprofits" && action_name == 'volunteer' %>
      <div class="index-content">
        <%= yield %>
      </div>
    <% elsif controller_name != "pages" && action_name != 'home'  %>
      <%= yield %>
    <% elsif controller_name != "sessions" && action_name != 'new'  %>
      <%= yield %>
    <% else %>
      <div class="page-content">
        <%= yield %>
      </div>
    <% end %>

    <%= render "shared/footer" %>


  </body>
</html>
