<!DOCTYPE html>
<html>
  <head>
    <title>Carus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar_signin" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
      <%= render "shared/flashes" %>
    <div class="page-content">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if notice.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
